---
interface Props {
  accordionItems: QuestionAnswer[];
}

type QuestionAnswer = {
  id: string;
  question: string;
  answer: string;
};

const { accordionItems } = Astro.props;

---

<div class="accordion accordion-flush">
  {
    accordionItems.map((item) => (
      <>
        <div class="accordion-item border-l-0 border-r-0 rounded-none bg-white border border-gray-200">
          <h2 class="accordion-header mb-0">
            <button
              class="accordion-button collased relative flex items-center w-full py-4 px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none hover:text-yellow-300"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target={`#${item.id}`}
              aria-expanded="false"
              aria-controls={item.id}
            >
              {item.question}
            </button>
          </h2>
          <div
            id={item.id}
            class="accordion-collapse border-0 collapse"
          >
            <div class="accordion-body py-4 px-5 text-left" set:html={item.answer}/>
          </div>
        </div>
      </>
    ))
  }
</div>
